

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  /* display: block; */
  /* padding: 20px; */
  background-color: lightgreen;
  /* z-index: -10; */
}

div.contenido {
  background-color: burlywood;
  width: 80%;
  padding: 2rem;
  position: relative;
  z-index: 10;
}

div p {
  position: static;
  z-index: -1;
  color: red;
  font-size: 3rem;
  padding: 0.5rem;
}


